{%extends "main/base.html"%}
{% load static %} 

{% load crispy_forms_tags %}

{%block title%}
Portfolio
{%endblock%}

{%block content%}
    <style type="text/css">


    .card{
    border: none;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    overflow:hidden;
    border: 1px solid #000033;
    border-radius:5px;
    margin-bottom: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
    </style>
<div class="container mx-auto mt-4">
  <div class="row">
  {% for property in ls.property_set.all %}
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
    <img src="{% static '/images/Property2.png'%}" class="card-img-top" alt="Picture of {{property.streetAddress}}">
    <div class="card-body">
    <h5 class="card-title">{{property.streetAddress}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{property.city}}</h6>
    <p class="card-text">Occupied By {{property.occupiedBy}}</p>
    <p class="card-text">Rent €{{property.Rent}} p/m</p>
    <a href="/propertyview/{{property.id}}"class="btn btn-dark">View Files</a>
  </div>
  </div>
    </div>
    {% endfor %}
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
    <img src="{% static '/images/Property2.png'%}" class="card-img-top" alt="Picture of {{property.streetAddress}}">
    <div class="card-body">
    <h5 class="card-title">Add a Property</h5>
    <p class="card-text">
    <form method="post" action="#">
    {% csrf_token %}
    <div class="input-group mb-3">
        <ul>
        <p  class="card-text">Address: <input type="text", name="address"></p>
        <p  class="card-text">City: <input type="text", name="city"></p>
        <p  class="card-text">Tenant: <input type="text", name="occupiedBy"></p>
        <p  class="card-text">Rent: <input type="text", name="rent"></p>
        </ul>
    </div>
    <button type="submit", name="newProperty", value="newProperty" class="btn btn-success">Add Property</button>
    </form>
    </p>
  </div>
  </div>
    </div>    
</div>
  </div>
    {%endblock%}